name: Build and Push to Artifact Registry

on:
  push:
    branches:
      - main
      - master

env:
  PROJECT_ID: digital-rhythm-471106-d7
  ARTIFACT_REGION: asia-south1
  ARTIFACT_REPO: docker-repo
  IMAGE_NAME: sample-python-app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Authenticate to GCP
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_KEY }}

      # Configure Docker for Artifact Registry
      - name: Configure Docker
        run: gcloud auth configure-docker ${{ env.ARTIFACT_REGION }}-docker.pkg.dev --quiet

      # Build Docker image
      - name: Build Docker image
        run: |
          IMAGE="${{ env.ARTIFACT_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPO }}/${{ env.IMAGE_NAME }}:latest"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          docker build -t "$IMAGE" .

      # Push Docker image
      - name: Push Docker image
        run: docker push ${{ env.IMAGE }}
